*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}


nav{
    background-color: gray;
    text-align: center;
    color: black;
}

.Baires{
    width: auto;
    height: auto;
}
body{
font-family: Arial, sans-serif;
margin: 20;
padding: 0;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(180, 209, 198);}


.container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
max-width: 1200px;
margin: 20px;
}

.card {
background-color: #fff;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
width: 100%;
height: auto;
border-radius: 5px;
margin-bottom: 10px;
}

.cart, .products {
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart {
width: 30%;
}

.products {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 60%;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #035806;
    color: #fff;
    border: none;
    border-radius: 4px;
  }